<a href="https://colab.research.google.com/github/raulbenitez/postgrau_IML_exploratory/blob/master/Intro_python_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Perquè Python?

Python és un llenguatge de programació d'alt nivell que permet resoldre problemes de proòpsit general. És especialment útil en aplicacions de tractament de dades, reconeixement de patrons i intel.ligència artificial. 

L'objectiu d'aquesta primera part del curs no és fer un curs de programació en Python, sinó més aviat que el feu servir com una eina que us serà molt útil en diferents situacions relacionades amb l'ànàlisi explotaròria de dades. Penseu en una mena de calculadora cientìfica molt potent. 

Python és un llenguatge organitzat en diferents llibreries que resulten útils en diferents situacions. Les més importants en l'àmbit de l'anàlisi de dades són les següents:

- Numpy: Operacions matemàtiques bàsiques amb vectors i matrius: https://numpy.org/

- Scipy: Operacions bàsiques d'estadística: https://www.scipy.org/
- Pandas: Permet manipular fitxers de dades en format excel, csv, text, etc. https://pandas.pydata.org/
- sckit-learn: Eines de reconeixement de patrons i intel.ligència artificial https://scikit-learn.org/stable/
- sckit-image: Tractament d'imatges https://scikit-image.org/

# Entorn de programació:

Hi ha una gran quantitat d'entorns de programació que permeten desenvolupar programes amb Python. 

Entre totes les opcions, nosaltres farem servir una plataforma cloud de google anomenada google colaboratory que ja té totes les llibreries disponibles i permet treballar sense la necessitat d'instal.lar res als nostres ordinadors: 

https://colab.research.google.com/


L'únic que ens demana per començar a treballar és un compte de google. A més, ens permet executar els programes als servidors de google, el que pot ser molt útil quan manipulem grans quantitats de dades. 

La forma de programar en aquesta plataforma són els jupyter notebooks: Un notebook és un document que combina text i codi Python. El text es fa servir per explicar el que fem en cada moment, i el codi Python excuta diferents segments de codi que realitzen diferents funcions.

### Manipulació bàsica de dades amb pandas:

Primer carreguem el fitxer al nostre google drive:

In [3]:
from google.colab import files 
import io
uploaded = files.upload()

Saving test.xlsx to test.xlsx

In [0]:
import pandas as pd
df = pd.read_excel('test.xlsx', index_col=0,header=2)

Ara consultem el contingut del fitxer mirant la capçelera:

In [47]:
df.head()

            Humans  Robots
Date
2019-03-10      10       3
2019-03-11      13      10
2019-03-12      16      17
2019-03-13      19      24
2019-03-14      22      31

Consultem les dimensions del fitxer:

In [48]:
df.shape

(9, 2)

In [49]:
df['Humans']

Date
2019-03-10    10
2019-03-11    13
2019-03-12    16
2019-03-13    19
2019-03-14    22
2019-03-15    25
2019-03-16    28
2019-03-17    31
2019-03-18    34
Name: Humans, dtype: int64

Busquem les dades en un cert intèrval de temps:

In [50]:
import datetime 
df.loc[datetime.date(year=2019,month=1,day=1):datetime.date(year=2019,month=3,day=11)]

            Humans  Robots
Date
2019-03-10      10       3
2019-03-11      13      10

Podem buscar les dades que compleixen una certa condició:

In [51]:
df.loc[df['Humans']>6]

            Humans  Robots
Date
2019-03-10      10       3
2019-03-11      13      10
2019-03-12      16      17
2019-03-13      19      24
2019-03-14      22      31
2019-03-15      25      38
2019-03-16      28      45
2019-03-17      31      52
2019-03-18      34      59

I fer cerca combinada de diferents restriccions:

In [52]:
df.loc[(df['Humans']>6) & (df['Robots']>20)]

            Humans  Robots
Date
2019-03-13      19      24
2019-03-14      22      31
2019-03-15      25      38
2019-03-16      28      45
2019-03-17      31      52
2019-03-18      34      59

### Ara mirem algun tipus de dades més interessants: El Titanic dataset:

https://www.kaggle.com/c/titanic

In [0]:
import seaborn as sns; 
dtitanic = sns.load_dataset('titanic')
dtitanic.head()

![alt text](https://data_IA.png)

*   List item
*   List item